<h2>Login Success</h2>
<p>Login başarılı!</p>
<p>You will be redirected in 5 seconds...</p>

<script type="text/javascript">
    setTimeout(function () {
        window.location.href = '@Url.Action("Index", "Home")';
    }, 5000);
</script>
